<a href="https://colab.research.google.com/github/Ishikaaa/Machine-Learning-Assignments/blob/master/(Ass_8)Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***1. Creating Working Directory - *

In [0]:
# importing libraries 
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [0]:
dataset=pd.read_csv("https://raw.githubusercontent.com/Shreyas3108/house-price-prediction/master/kc_house_data.csv ")
dataset.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [0]:
dataset.shape

(21613, 21)

In [0]:
dataset.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [0]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
id               21613 non-null int64
date             21613 non-null object
price            21613 non-null float64
bedrooms         21613 non-null int64
bathrooms        21613 non-null float64
sqft_living      21613 non-null int64
sqft_lot         21613 non-null int64
floors           21613 non-null float64
waterfront       21613 non-null int64
view             21613 non-null int64
condition        21613 non-null int64
grade            21613 non-null int64
sqft_above       21613 non-null int64
sqft_basement    21613 non-null int64
yr_built         21613 non-null int64
yr_renovated     21613 non-null int64
zipcode          21613 non-null int64
lat              21613 non-null float64
long             21613 non-null float64
sqft_living15    21613 non-null int64
sqft_lot15       21613 non-null int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

**Note - **

1.   As number of rows is equal to count. So, there is no missing value.

# ***2. Feature Extraction - ***

**Note - **


1.  Only 'Date' column is object. But we don't need ''Date' column to predict price. SO we can directly remove that column instead of converting categorical feature into numerical feature. 
2. 'Id' colunm is also of no use. So we can also remove that column.

In [0]:
dataset.drop(['date'],inplace=True,axis=1)
dataset.head()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [0]:
dataset.drop(['id'],inplace=True,axis=1)
dataset.columns

Index(['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [0]:
# standardisation
from sklearn.preprocessing import StandardScaler 
StandardScaler().fit_transform(dataset)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

array([[-0.86671733, -0.39873715, -1.44746357, ..., -0.30607896,
        -0.9433552 , -0.26071541],
       [-0.00568792, -0.39873715,  0.1756067 , ..., -0.74634143,
        -0.43268619, -0.18786773],
       [-0.98084935, -1.47395936, -1.44746357, ..., -0.13565477,
         1.07013975, -0.17237524],
       ...,
       [-0.37586519, -1.47395936, -1.77207762, ..., -0.60432128,
        -1.41025258, -0.39414129],
       [-0.38158814, -0.39873715,  0.50022075, ...,  1.02891048,
        -0.8412214 , -0.42051149],
       [-0.58588173, -1.47395936, -1.77207762, ..., -0.60432128,
        -1.41025258, -0.41794772]])

# ***2. Splitting dataset into training and test set --***

In [0]:
X=dataset[['bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15']]
Y=dataset['price']
X.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [0]:
Y.head()

0    221900.0
1    538000.0
2    180000.0
3    604000.0
4    510000.0
Name: price, dtype: float64

In [0]:
from sklearn.model_selection import train_test_split 
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=0)
X_train,X_test,Y_train,Y_test

(       bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  view  \
 5268          3       1.00         1570      5510     1.0           0     0
 16909         3       2.50         1780     11000     1.0           0     0
 16123         3       1.50         1090      9862     1.0           0     0
 12181         4       2.50         2210      7079     2.0           0     0
 12617         3       2.50         1800      4763     2.0           0     0
 19024         4       2.00         3100      8000     1.5           0     0
 5063          4       3.75         5070     60123     2.0           0     0
 9888          1       1.00         1180      4000     1.5           0     2
 2774          3       2.50         1800      5372     2.0           0     0
 3197          4       1.75         3010     12523     1.0           0     0
 10315         5       2.75         2770      7620     1.0           0     0
 13059         3       1.50         1240      8528     1.0           0     0
 17081         2       1.75         1990      4000     1.0           0     0
 17152         3       2.50         2960     69351     2.0           1     3
 4857          4       2.50         2190      7125     2.0           0     0
 3930          3       1.00         1520      8600     1.0           0     0
 9619          4       1.50         1940     12100     1.0           0     0
 6913          4       3.25         2830      4000     2.0           0     0
 13323         2       2.50         2160      5581     1.0           0     0
 9629          4       2.00         1650      7552     1.0           0     0
 98            3       1.75         1810     41800     1.0           0     0
 21317         2       2.50         1680       977     3.0           0     0
 21563         4       2.50         2470      5100     2.0           0     0
 8105          2       1.00          990      2446     2.0           0     0
 261           3       1.75         1270      8470     1.0           0     0
 17640         4       3.00         2370      3836     2.0           0     0
 15780         4       3.25         2290      4785     2.0           0     0
 8251          3       1.75         1200      9085     1.0           0     0
 610           2       2.50         1100      1760     3.0           0     0
 18548         4       2.75         2410      5650     1.5           0     0
 ...         ...        ...          ...       ...     ...         ...   ...
 1871          4       2.00         2460      5921     1.0           0     0
 18430         3       2.00         1010     12252     1.0           0     0
 7877          4       1.00         1460      3840     1.5           0     0
 4851          5       3.25         4115      7910     2.0           0     0
 5072          3       2.50         2060      8778     1.0           0     0
 2163          3       3.50         1460      1021     2.0           0     0
 6036          4       1.75         1520      5250     1.0           0     0
 6921          2       1.00          860      7204     1.0           0     0
 6216          3       1.00         1380      7470     1.0           0     0
 16921         2       1.00         1100      7500     1.0           0     0
 2897          4       2.00         2030      4033     2.0           0     0
 18606         4       3.00         2860     10292     1.0           0     0
 10327         3       2.25         1880      6565     1.0           0     0
 18983         3       2.00         1350      8960     1.0           0     0
 17089         3       2.25         2130     11782     1.0           0     0
 14650         4       3.00         2530      5625     1.0           0     0
 19852         4       3.50         3150      6202     2.0           0     0
 6744          3       1.00         1620      5040     1.0           0     0
 15832         4       2.50         2080      7000     1.0           0     0
 15430         4       3.75         3490      5625     2.0           0     0
 14935         2       1.00         1320      1824     1.5           0     0
 14116         3       1.75         2130      4400     1.0           0     0
 20757         3       2.00         2360      6145     1.0           0     0
 9225          3       1.75         1480      4800     2.0           0     0
 21243         4       3.00         3640      5096     2.0           0     0
 13123         5       5.00         3960     94089     2.0           0     0
 19648         2       2.50         1400      1262     2.0           0     0
 9845          3       2.25         2360     14950     1.0           0     0
 10799         4       2.00         2370     76665     2.0           0     0
 2732          4       2.25         2380     16236     1.0           0     0

        condition  grade  sqft_above  sqft_basement  yr_built  yr_renovated  \
 5268           4      7        1070            500      1940             0
 16909          4      8        1210            570      1980             0
 16123          3      8        1090              0      1987             0
 12181          3      8        2210              0      1993             0
 12617          3      7        1240            560      1985             0
 19024          5      7        2040           1060      1939             0
 5063           3     11        5070              0      2000             0
 9888           4      8         840            340      1910             0
 2774           3      8        1800              0      1987             0
 3197           3      8        1780           1230      1952             0
 10315          3      7        1700           1070      1965             0
 13059          4      7        1240              0      1967             0
 17081          5      7        1090            900      1952             0
 17152          4      9        2960              0      1990             0
 4857           5      8        2190              0      1978             0
 3930           3      6        1040            480      1951             0
 9619           3      7        1940              0      1962             0
 6913           3      9        1910            920      1912          2012
 13323          3      8        2160              0      2002             0
 9629           4      7         860            790      1977             0
 98             5      7        1210            600      1980             0
 21317          3      9        1680              0      2009             0
 21563          3      8        2470              0      2005             0
 8105           3      7         990              0      1998             0
 261            4      7        1270              0      1960             0
 17640          3      9        1750            620      1969          2008
 15780          3      9        2290              0      2007             0
 8251           4      7        1200              0      1968             0
 610            3      7        1100              0      1997             0
 18548          5      8        2070            340      1909             0
 ...          ...    ...         ...            ...       ...           ...
 1871           4      7        1230           1230      1948             0
 18430          3      8        1010              0      1980             0
 7877           3      8        1340            120      1928             0
 4851           3      9        4115              0      2014             0
 5072           3      8        1160            900      1953          2010
 2163           3      8        1150            310      2006             0
 6036           3      6        1520              0      1949             0
 6921           3      7         860              0      1918             0
 6216           5      7        1380              0      1965             0
 16921          3      7        1100              0      1951             0
 2897           4      7        1630            400      1925             0
 18606          4      8        2860              0      1953          1999
 10327          4      8        1420            460      1972             0
 18983          4      7        1350              0      1986             0
 17089          4      8        1590            540      1977             0
 14650          3      8        1470           1060      1976             0
 19852          3      7        3150              0      2005             0
 6744           3      7        1120            500      1964             0
 15832          4      8        1400            680      1989             0
 15430          3      9        2610            880      2014             0
 14935          4      6        1320              0      1909             0
 14116          3      7        1430            700      1922             0
 20757          3      8        2360              0      2011             0
 9225           4      7        1140            340      1944             0
 21243          3      8        2740            900      2010             0
 13123          3     10        3960              0      1998             0
 19648          3      8        1160            240      2008             0
 9845           4      9        2360              0      1978             0
 10799          4      8        2370              0      1978             0
 2732           3      7        1540            840      1961             0

        zipcode      lat     long  sqft_living15  sqft_lot15
 5268     98115  47.6942 -122.319           1770        6380
 16909    98006  47.5574 -122.149           2310        9700
 16123    98074  47.6256 -122.036           1710        9862
 12181    98031  47.4206 -122.183           1970        7000
 12617    98119  47.6460 -122.362           1790        4763
 19024    98103  47.6852 -122.329           1650        4000
 5063     98053  47.6567 -122.004           4920      101930
 9888     98118  47.5561 -122.266           1420        4000
 2774     98034  47.7188 -122.177           1650        6014
 3197     98125  47.7070 -122.316           2040        7560
 10315    98106  47.5188 -122.348           1720        7620
 13059    98058  47.4478 -122.157           1570        8064
 17081    98103  47.6889 -122.342           1270        5700
 17152    98070  47.4000 -122.420           2350       41433
 4857     98032  47.3709 -122.285           2190        8075
 3930     98168  47.5134 -122.335           1320        8600
 9619     98033  47.6892 -122.164           1380       12100
 6913     98144  47.5845 -122.291           2740        4000
 13323    98053  47.7017 -122.023           2315        5652
 9629     98155  47.7765 -122.324           1410        7199
 98       98038  47.4109 -121.958           1650      135036
 21317    98119  47.6320 -122.361           1680         977
 21563    98038  47.3622 -122.041           2240        5123
 8105     98144  47.5919 -122.297           1260        2805
 261      98198  47.4207 -122.290           1600        8470
 17640    98107  47.6718 -122.394           1690        4698
 15780    98038  47.3833 -122.037           2290        4785
 8251     98023  47.2795 -122.353           1200        9085
 610      98103  47.6972 -122.350           1200        1415
 18548    98116  47.5651 -122.391           1960        5650
 ...        ...      ...      ...            ...         ...
 1871     98002  47.3080 -122.209           1260        6648
 18430    98074  47.6224 -122.045           1840       11497
 7877     98106  47.5330 -122.347            990        4200
 4851     98053  47.6847 -122.016           3950        6765
 5072     98136  47.5245 -122.384           1990        7560
 2163     98122  47.6169 -122.309           1460        1245
 6036     98199  47.6581 -122.390           1530        5250
 6921     98106  47.5361 -122.351           1200        7500
 6216     98133  47.7479 -122.343           1440        7473
 16921    98125  47.7235 -122.326           1920        7149
 2897     98133  47.7056 -122.342           1350        1340
 18606    98004  47.6286 -122.206           1840       10273
 10327    98008  47.6396 -122.113           2060        7280
 18983    98038  47.3614 -122.045           1470        8288
 17089    98040  47.5423 -122.215           2700       11782
 14650    98034  47.7094 -122.233           1840        7070
 19852    98042  47.3993 -122.162           2950        5940
 6744     98118  47.5263 -122.286           1790        6178
 15832    98058  47.4252 -122.163           2090        7082
 15430    98103  47.6685 -122.332           1940        5000
 14935    98144  47.5850 -122.294           1320        4000
 14116    98102  47.6417 -122.325           1710        3300
 20757    98030  47.3564 -122.198           2304        5880
 9225     98199  47.6567 -122.397           1810        4800
 21243    98118  47.5428 -122.270           1910        9189
 13123    98038  47.3800 -122.011           2240       64468
 19648    98106  47.5342 -122.349           1060        1524
 9845     98042  47.3856 -122.158           2720       14388
 10799    98001  47.2831 -122.279           2110       19334
 2732     98008  47.6126 -122.120           2230        8925

 [17290 rows x 18 columns],
        bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  view  \
 17384         2       1.50         1430      1650     3.0           0     0
 722           4       3.25         4670     51836     2.0           0     0
 2680          2       0.75         1440      3700     1.0           0     0
 18754         2       1.00         1130      2640     1.0           0     0
 14554         4       2.50         3180      9603     2.0           0     2
 16227         3       2.50         1650      3436     2.0           0     0
 6631          3       2.75         1720     28000     1.0           0     0
 19813         3       2.50         2538      4600     2.0           0     0
 3367          4       2.50         2460      5440     2.0           0     0
 21372         5       3.50         4460      2975     3.0           0     2
 3268          4       1.75         2360     11300     1.0           0     0
 20961         3       2.50         1720      3581     2.0           0     0
 21456         2       1.50         1020      1049     3.0           0     0
 3880          3       1.50         1340     11744     1.0           0     0
 17472         4       2.50         3180     10105     2.0           0     0
 7618          2       1.75         1220      2268     1.0           0     0
 1091          3       2.25         1530      3056     2.0           0     0
 1560          4       2.00         2130      2620     1.5           0     0
 8945          2       1.00          930     12724     1.0           0     0
 8439          3       2.00         1370      7200     1.0           0     0
 13058         3       2.50         1670      7740     1.0           0     0
 12080         4       2.75         2220      8450     1.0           0     0
 7417          4       3.00         1900      9077     2.0           0     0
 3101          3       1.75         1100      9452     1.0           0     0
 18769         4       2.50         2370     15200     1.0           0     0
 7332          3       1.00         1100      5132     1.0           0     0
 19186         4       2.00         1530      7816     1.0           0     0
 11875         4       1.75         1640      7194     1.5           0     0
 14100         2       1.75         2110      8700     1.0           0     4
 10641         3       1.50         1690      6010     1.0           0     0
 ...         ...        ...          ...       ...     ...         ...   ...
 20973         4       3.50         4700     10183     1.0           0     2
 10966         3       1.00         1110      7208     1.0           0     0
 380           2       1.50         1380    209959     1.0           0     0
 16870         4       2.50         2700     25870     2.0           0     0
 5617          5       3.25         3410      9088     2.0           0     3
 17271         3       1.75         1820      6038     1.0           0     0
 5078          3       2.00         1430      7280     1.0           0     0
 10545         4       1.75         2350     11914     1.0           0     0
 10321         4       2.50         3110     11422     2.0           0     0
 6289          4       2.50         3020      8302     2.0           0     0
 3639          4       1.00         1070      7467     1.5           0     0
 3338          6       2.25         4910      6600     2.5           0     0
 20476         3       3.25         1370      1227     3.0           0     0
 11879         3       2.50         1730      4286     2.0           0     0
 13129         2       1.75         1640      3090     1.0           0     0
 14660         4       3.75         3320      8030     2.0           0     0
 18064         3       1.50         1250      9484     1.0           0     0
 7340          4       1.00         2170     12100     1.0           0     0
 14360         4       2.50         2170     10500     1.0           0     0
 20380         3       2.25         1530      1396     2.0           0     0
 19125         4       1.75         2020      9750     1.0           0     0
 10033         4       1.75         2000      6120     1.0           0     0
 20194         4       2.50         2630      5701     2.0           0     0
 7843          2       1.00          950      4080     1.0           0     0
 7811          3       1.75         2020    215622     2.0           0     0
 5427          4       3.25         3090     67518     2.0           0     0
 16547         3       1.75         1260      8487     1.0           0     0
 4585          3       2.50         1360      3718     2.0           0     0
 17762         3       1.00          950      4760     1.5           0     0
 16323         3       2.25         1640     12000     1.0           0     0

        condition  grade  sqft_above  sqft_basement  yr_built  yr_renovated  \
 17384          3      7        1430              0      1999             0
 722            4     12        4670              0      1988             0
 2680           3      7        1200            240      1914             0
 18754          4      8        1130              0      1927             0
 14554          3      9        3180              0      2002             0
 16227          3      7        1650              0      2003             0
 6631           4      7        1720              0      1958             0
 19813          3      8        2538              0      2013             0
 3367           3      9        2460              0      2003             0
 21372          3     10        3280           1180      2015             0
 3268           4      9        2360              0      1974             0
 20961          3      7        1720              0      2011             0
 21456          3      8        1020              0      2008             0
 3880           2      7        1340              0      1950             0
 17472          4      9        3180              0      1986             0
 7618           4      6         610            610      1909             0
 1091           3      7        1530              0      2003             0
 1560           5      7        1650            480      1919             0
 8945           4      6         930              0      1912             0
 8439           3      7        1130            240      1926          1955
 13058          3      7        1130            540      1974             0
 12080          4      7        1260            960      1983             0
 7417           3      7        1900              0      1954          2015
 3101           3      6        1100              0      1942             0

# ***3. Training - ***

In [0]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

# ***4. Making The Predictions - ***

In [0]:
y_pred=regressor.predict(X_test)

In [0]:
compdata=pd.DataFrame({"Actual Data":Y_test,"Predicted Data":y_pred})
compdata

       Actual Data  Predicted Data
17384     297000.0    3.784482e+05
722      1578000.0    1.539749e+06
2680      562100.0    5.444599e+05
18754     631500.0    5.778039e+05
14554     780000.0    9.799229e+05
16227     485000.0    3.716664e+05
6631      340000.0    4.051751e+05
19813     335606.0    3.822488e+05
3367      425000.0    5.674027e+05
21372     490000.0    1.211602e+06
3268      732000.0    7.216974e+05
20961     389700.0    3.621354e+05
21456     450000.0    3.704935e+05
3880      357000.0    2.903157e+05
17472     960000.0    8.597026e+05
7618      257000.0    3.887056e+05
1091      448000.0    3.364212e+05
1560      610000.0    6.719655e+05
8945      230950.0    3.371351e+05
8439      377500.0    5.649346e+05
13058     375000.0    3.496148e+05
12080     410000.0    3.895117e+05
7417      459000.0    6.272783e+05
3101      190000.0    1.843126e+05
18769     585000.0    6.005692e+05
7332      280000.0    2.841324e+05
19186     500000.0    4.566968e+05
11875     465000.0    6.558570e+05
14100     802000.0    8.932955e+05
10641     440000.0    4.951961e+05
...            ...             ...
20973    1242000.0    1.438765e+06
10966     411500.0    2.878484e+05
380       270000.0    4.530616e+05
16870     725000.0    7.186809e+05
5617     2400000.0    1.266289e+06
17271     423000.0    4.380380e+05
5078      250000.0    2.009829e+05
10545     850000.0    6.344624e+05
10321     925000.0    8.772568e+05
6289      490000.0    7.859896e+05
3639      200000.0    1.664407e+05
3338     1675000.0    1.449513e+06
20476     375000.0    4.812732e+05
11879     339950.0    2.591756e+05
13129     516000.0    5.944549e+05
14660     802500.0    9.327731e+05
18064     210000.0    1.956847e+05
7340      565000.0    5.601534e+05
14360     420000.0    5.564948e+05
20380     500000.0    4.468395e+05
19125     390000.0    3.636387e+05
10033     228000.0    3.088845e+05
20194     385000.0    3.742649e+05
7843      550000.0    4.661787e+05
7811      490000.0    3.853903e+05
5427      844000.0    9.658396e+05
16547     335500.0    4.615260e+05
4585      369950.0    3.598572e+05
17762     300000.0    2.070058e+05
16323     575950.0    4.336398e+05

[4323 rows x 2 columns]

In [0]:
compdata['Predicted Data']=compdata['Predicted Data'].astype(float)
compdata

       Actual Data  Predicted Data
17384     297000.0        378448.0
722      1578000.0       1539749.0
2680      562100.0        544459.0
18754     631500.0        577803.0
14554     780000.0        979922.0
16227     485000.0        371666.0
6631      340000.0        405175.0
19813     335606.0        382248.0
3367      425000.0        567402.0
21372     490000.0       1211602.0
3268      732000.0        721697.0
20961     389700.0        362135.0
21456     450000.0        370493.0
3880      357000.0        290315.0
17472     960000.0        859702.0
7618      257000.0        388705.0
1091      448000.0        336421.0
1560      610000.0        671965.0
8945      230950.0        337135.0
8439      377500.0        564934.0
13058     375000.0        349614.0
12080     410000.0        389511.0
7417      459000.0        627278.0
3101      190000.0        184312.0
18769     585000.0        600569.0
7332      280000.0        284132.0
19186     500000.0        456696.0
11875     465000.0        655857.0
14100     802000.0        893295.0
10641     440000.0        495196.0
...            ...             ...
20973    1242000.0       1438764.0
10966     411500.0        287848.0
380       270000.0        453061.0
16870     725000.0        718680.0
5617     2400000.0       1266289.0
17271     423000.0        438038.0
5078      250000.0        200982.0
10545     850000.0        634462.0
10321     925000.0        877256.0
6289      490000.0        785989.0
3639      200000.0        166440.0
3338     1675000.0       1449512.0
20476     375000.0        481273.0
11879     339950.0        259175.0
13129     516000.0        594454.0
14660     802500.0        932773.0
18064     210000.0        195684.0
7340      565000.0        560153.0
14360     420000.0        556494.0
20380     500000.0        446839.0
19125     390000.0        363638.0
10033     228000.0        308884.0
20194     385000.0        374264.0
7843      550000.0        466178.0
7811      490000.0        385390.0
5427      844000.0        965839.0
16547     335500.0        461526.0
4585      369950.0        359857.0
17762     300000.0        207005.0
16323     575950.0        433639.0

[4323 rows x 2 columns]

# ***5. Evaluating The Algorithm - ***

In [0]:
from sklearn import metrics 
print("Mean Absolute Error:",metrics.mean_absolute_error(Y_test,y_pred))
print("Mean Squared Error:",metrics.mean_squared_error(Y_test,y_pred))
print("Root Mean Squared Error:",np.sqrt(metrics.mean_squared_error(Y_test,y_pred)))

Mean Absolute Error: 122187.77571872059
Mean Squared Error: 36280106778.879
Root Mean Squared Error: 190473.37551185203